html{
	font-family: 'Montserrat', sans-serif;
	color: white;
	height: 100%;
	width: 100%;
}

body{
	height:100%;
	padding:0;
	margin:0 auto;
}

#main_overlay{
	min-height:100%;
	min-width: 100%;
	background-color: black;
	margin: 0 auto;
}

/* centering my logo to center of overlay */
#icon{
	width: 300px;
	height: 300px;
	margin: -150px 0 0 -150px;
	position: absolute;
	top: 50%;
	left:50%;
}

/* above is css specifically for the main overlay */

/* etting width to 100% against everything */
#main_page, #header, #intro, #project_container, #footer{
	width: 100%;
}

/* force all links to appear with no decoration */
a{
	text-decoration: none;
	color: black;
}

/* setting flex to work vertically */
#main_page{
	display: flex;
	flex-direction: column;
	height: 2300px;
}

#header{
	display: inherit;
	flex-direction: row;
	height: 2.5%;
	background-color: white;
	order: 1;
	line-height: 100%;
}

#home_link{
	padding-left: 25px;
	flex: 4;
}

.nav_link{
	flex: 1;
}

/* Above is css for just the main nav */

#intro{
	height: 32.5%;
	order: 2;
	display: inherit;
	justify-content: flex-end;
}

/* background image through a pseudo element + z index */
#intro::after{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-size: cover;
    background-image: url("../assets/gallery/codeSnippet.png");
	z-index: -2;
	padding-bottom: 900px;
}

#fade{
	height: 100%;
	width: 38%;
}

#fade::after{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 60%;
	right: 0;
	bottom: 0;
	background-color: black;
	opacity: 0.5;
	z-index: -1;
	padding-bottom: 900px;
}

#intro_container{
	height: 100%;
	width: 100%;
	padding-top: 100px;
	text-align: center;
}

#myPic{
	width: 25%;
	border-radius: 100px;
	border: 5px solid white;
	margin-bottom: 50px;
}

.text{
	font-size: 22px;
	text-align: center;
}

#short_summary{
	margin: 0 10px 0 auto;
}

#more_button{
	background-color: white;
	font-size: 20px;
	font-weight: bold;
	width: 80px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	margin: 50px auto 0 auto;
}

/* above is css for the intro */

#showcase{
	height: 64%;
	background-color: black;
	order: 3;
}

#bio{
	display: flex;
	flex-direction: row;
	width: 86.66578171%;
	margin: 100px auto 100px auto;
}

#summary_container{
	display: inherit;
	flex-direction: row;
	width: 76.92390167%;
}

hr{
	width: 10px;
	background-color: white;
	margin: 0 10.00066372% 0 10.00066372%;
}

#project_container{
	width: 23.07609833%;
}

#project_container h1 a{
	color: white;
}

#project_container div{
	height: 200px;
}

#project_container a div{
	color: white;
	text-align: center;
}

.list_item{
	margin-top: 30px;
}

.list_item h2, .list_item p{
	margin: 0 auto;
}

#red{
	background-color: #ec2672;
}

#green{
	background-color: #9ce22e;
}

#blue{
	background-color: #66d9ef;
}

#contact{
	width: 86.66578171%;
	margin: 100px auto 100px auto;
	background-color: blue;
}

#icon_container{
	display: flex;
	flex-direction: row;
}

#contact h1{
	text-align: center;
}

.contact_icons{
	width: 20%;
}




#footer{
	height: 2%;
	background-color: black;
	order: 4;
	line-height: 100%;
}

#footer a p{
	color: white;
	margin:0 0 0 20px;
}