html{
	font-family: futura;
	height: 100%;
	width: 100%;
}

body{
	height:100%;
	padding:0;
	margin:0 auto;
}

#main_overlay{
	min-height:100%;
	min-width: 100%;
	background-color: black;
	margin: 0 auto;
}

/* icon will always be 200px so negetive half 
for margin and set it to top and left 50 */
#icon{
	width: 300px;
	height: 300px;
	margin: -150px 0 0 -150px;
	position: absolute;
	top: 50%;
	left:50%;
}

/* above is css specifically for the main overlay */
/* below is css specifically for the page after */

#main_page{
	background-color: black;
	color: white;
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

.text_center{
	text-align: center;
}

#header{
	margin: 0 auto;
	background-color: white;
	color: black;
	width: 100%;
}

#name{
	font-size: 32px;
	margin: 0 auto;
	padding: 32px 0 32px 0;
}

#summary_container{
	height: 120%;
	width: 100%;
	display: block;
}

/* background image opacity with it not repeating with psuedo element */

#summary_container::after{
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	background-image: url("../assets/codeSnippet.png");
	background-repeat: no-repeat;
	background-size: cover;  
	opacity: 0.4;
}

#summary{
	font-size: 32px;
	width: 100%;
	margin: 0 auto;
	padding-top: 270px;
}

#description{
	width: 50%;
	margin: 0 auto;
}

#more_button{
	display: block;
	margin: 0 auto 0 auto;
	height: 40px;
	width: 80px;
	background-color: white;
	color: black;
	text-align: center;
	text-decoration: none;
}







#buffer{
	width: 50%;
	margin: 0 auto;
}

/*#social_links{
	height: 140px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.logos{
	display: inline-block;
	height: 120px;
	width: 120px;
}

#github{
	background-image: url("../assets/githubLogo.png");
	background-repeat: no-repeat;
	padding-right: 50px;
}

#linkedin{
	background-image: url("../assets/linkedinLogo.png");
	background-repeat: no-repeat;
	background-size: cover;
}*/


