html{
	font-family: futura;
	height: 100%;
	width: 100%;
}

body{
	height:100%;
	padding:0;
	margin:0 auto;
}

#main_overlay{
	min-height:100%;
	min-width: 100%;
	background-color: black;
	margin: 0 auto;
}

/* icon will always be 200px so negetive half 
for margin and set it to top and left 50 */
#icon{
	width: 300px;
	height: 300px;
	margin: -150px 0 0 -150px;
	position: absolute;
	top: 50%;
	left:50%;
}
/* css specifically for the main overlay */

/* css for the main page */
#main_page{
	background-color: black;
	color: white;
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

.text_center{
	text-align: center;
}

#header{
	margin: 0 auto;
	background-color: white;
	color: black;
	width: 100%;
}

/* Applied the same technique i did 
with my logo but to my name as well */
#name{
	line-height: 100%;
	font-size: 32px;
	margin: 0 auto;
	padding: 32px 0 32px 0;
}

#summary{
	font-size: 32px;
	width: 50%;
	margin: 0 auto;
	padding: 100px 0 100px 0;
}









